HTMLParser~=0.0.2
beautifulsoup4~=4.12.3
requests~=2.31.0
aiohttp~=3.9.5
openpyxl~=3.1.2
pandas~=2.2.2
tqdm~=4.66.4
feedparser~=6.0.11
newspaper3k~=0.2.8
lxml-html-clean~=0.1.1
praw~=7.7.1
pyarrow~=16.0.0
fastparquet~=2024.2.0
PyYAML~=6.0.1
